.container {
  text-decoration: none;
  margin-top: 2%;
  padding: 1%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: thistle;
}

.form {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 60vh;
  background-color: #fff;
}

.head {
  background-color: rgb(91, 185, 188);
  color: white;
  font-weight: 600;
  padding: 10px 30px;
}

.information {
  display: flex;
  flex-direction: row;
  padding: 2% 8%;
}

.email {
  display: flex;
  flex-direction: column;
  padding: 2% 8%;
}

.checks {
  display: flex;
  flex-direction: column;
  padding: 2% 8%;
}

.submit {
  display: flex;
  flex-direction: column;
  padding: 2% 8%;
}

.errors {
  display: flex;
  flex-direction: column;
  padding: 2% 8%;
}

.submit input {
  background-color: rgb(217, 43, 144);
  height: 40px;
  border: none;
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: left;
  padding: 0 20px;
  cursor: pointer;
}

.reCaptcha {
  display: flex;
  flex-direction: column;
  padding: 2% 8%;
}

.email input {
  height: 30px;
  background-color: rgb(241, 245, 248);
  border: none;
}

.email input:focus {
  outline: 0;
}

.fname {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.fname input {
  height: 30px;
  background-color: rgb(241, 245, 248);
  border: none;
}

.fname input:focus {
  outline: 0;
}

.lname {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 5px;
}

.lname input:focus {
  outline: 0;
}

.lname input {
  height: 30px;
  background-color: rgb(241, 245, 248);
  border: none;
}
