.container {
  text-decoration: none;
  padding: 1%;
  background-color: thistle;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 50%;
  padding: 1% 2%;
  background-color: rgb(90, 183, 186);
  border: 2px solid rgb(90, 183, 186);
  clip-path: polygon(0 0, 100% 0, 93% 100%, 0% 100%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transition: 0.1s ease-in;
}

.button-hover {
  width: 50%;
  padding: 1% 2%;
  background-color: white;
  border: 2px solid rgb(90, 183, 186);
  clip-path: polygon(0 0, 100% 0, 93% 100%, 0% 100%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.text {
  font-weight: 500;
  font-size: 14pt;
  margin-left: 1%;
  color: white;
  letter-spacing: 1px;
}

.text-hover {
  font-weight: 500;
  font-size: 14pt;
  margin-left: 1%;
  letter-spacing: 1px;
  color: rgb(90, 183, 186);
}

.icon {
  width: 50px;
}
