.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 40%;
  height: 25vh;
  padding: 1%;
  margin-top: 2%;
}

.logo {
  margin-left: 50px;
  width: 75%;
  height: 180px;
}
